*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;

}
/*navbar (top of page) setup*/
.navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 1.2 * 16 = change in font size */
    font-size:1.2rem;
    position:sticky;
    top:0;
    /*makes sure always at top of page*/
    z-index: 999; 
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

/*provides gradient color scheme to "Welcome" in the top left corner*/
#navbar__logo{
    background-color:#ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    /*has worked until this point*/
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}
/*this is for --> Home About Wallet */
.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar__item{
    height: 80px;
}
.navbar__links{
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
   
}

/*changes color of links (Home About Wallet) while cursor hovers over them*/
.navbar__links:hover{
    color: #ff0844;
    transition: all 0.3s ease;
}

/*Hero/Home section*/
.hero{
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
    padding: 50px 0;
}
.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.hero__heading{
    font-size: 100px;
    margin-bottom: 24px; 
    color:#fff;
}

.hero__description{
    font-size: 50px;
    color: #fff;
}

.highlight{
    border-bottom: 4px solid rgb(123, 0, 255);
}

/*About Section*/
.aboutme{
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
    padding: 50px 0;
}

.aboutme__container{
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.aboutme__heading{
    font-size: 50px;
    margin-bottom: 24px;
    color: #fff;
}

.aboutme__description{
    font-size: 25px;
    color:#fff;
}

/*Wallet section*/
.work{
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
    padding: 100px 0;
}
.work__container{
    display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.work__heading{
    font-size: 50px;
    margin-bottom: 24px;
    color: #ffffff;
}
.work__heading2{
    font-size: 25px;
    margin-bottom: 15px;
    color:#fff;
}
.work__description{
    font-size: 25px;
    color:#fff;
}

/*Applcation section*/
.apply{
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
    padding: 50px 0;
}

.apply__container{
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.apply__heading{
    font-size: 50px;
    margin-bottom: 24px;
    color: #fff;
}

.apply__description{
    font-size: 25px;
    color:#fff;
}

.button{
    font-size: 25px;
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
    padding: 50px 0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

