<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DriverIncentiveProgram</title>
        <link rel="stylesheet" href="/static/styles.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
        />
    </head>
    <body>

    <!--section Navbar-->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="#home" id="navbar__logo">D.I.P</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                {% if user.is_authenticated %}
                    <li class="navbar__item">
                        <a href="{%url 'dashboard' %}" class="navbar__links" id="dashboard-page">Dashboard</a>
                     </li>
                {% else %}
                     <li class="navbar__item">
                        <a href="{% url 'index' %}" class="navbar__links" id="home-page">Home</a>
                     </li>
                {% endif %}
                <li class="navbar__item">
                    <a href="#about" class="navbar__links" id="about-page">About Page</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="navbar__item">
                        <a href="{%url 'points' %}" class="navbar__links" id="wallet-page">Wallet</a>
                     </li>
                {% endif %}
                 {% if user.is_authenticated %}
                    <li class="navbar__item">
                        <a href="{%url 'logout_user' %}" class="navbar__links" id="sign-out-page">Log-out</a>
                     </li>
                {% else %}
                     <li class="navbar__item">
                        <a href="{%url 'login_user' %}" class="navbar__links" id="signin-page">Log-In</a>
                     </li>
                    <li class="navbar__item">
                        <a href="{%url 'register_user' %}" class="navbar__links" id="SignUp-page">Sign-Up</a>
                     </li>
                {% endif %}
            </ul>

        </div>
    </nav>

     <!-- section About Page-->
     <div class="aboutme" id = "about">
        <div class="aboutme__container">
            <h1 class="aboutme__heading">About Page</h1>
            <h2 class ="aboutme__heading">Team Members</h2>
            <h3 class="aboutme__heading">Jalen Barnes, James Barr, Jonathan Moore, Joseph Suter</h3>
        </div>
        <br/>

        <div class="aboutme__description">
      {% for sprint in sprintInfo %}
        <div class="card">
          <div class="card-header">
              Sprint Info
          </div>
          <div class="card-body">
            <h5 class="card-title">Team Number: {{sprint.teamNum}}</h5>
            <p class="card-text">
             <ul>
             <li> Sprint Version: {{sprint.versNum}}</li>
             <li>Sprint Release Date: {{sprint.releaseDate}}</li>
             <li>Sprint Description: {{sprint.prodDesc}}</li>
            </ul>
             <br/>
            </p>
          </div>
        </div>
       {% endfor %}
        </div>

    </div>

    <div class="footer" id="footer">
        <div class = "footer__container">
            <div class = "socialIcons">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-google-plus"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
            </div>
            <div class = "footer__description">
                <p>Copyright &copy;2023</p>
            </div>
        </div>
    </div>





</body>
</html>