{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DriverIncentiveProgram</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>

<body>
    <!--section Navbar-->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="#home" id="navbar__logo">D.I.P</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                   <a href="#home" class="navbar__links" id="home-page">Home</a> 
                </li>
                <li class="navbar__item">
                    <a href="{%url 'about' %}" class="navbar__links" id="about-page">About Page</a>
                 </li>

                 <!-- CHANGE REQUIRED -->
                <!--Wallet should NOT appear on index page should only be available in dashboard -->
                 <li class="navbar__item">
                    <a href="{%url 'wallet' %}" class="navbar__links" id="project-page">Wallet</a>
                 </li>
                 <li class="navbar__item">
                     <a href="https://dipteam5.auth.us-east-1.amazoncognito.com/login?client_id=24572ehjeno50ma5122ql3oumd&response_type=code&scope=aws.cognito.signin.user.admin+email+openid+profile&redirect_uri=https%3A%2F%2Fteam05.cpsc4911.com%2F" class="navbar__links">Sign In/Sign Up</a>
                 </li>

                 <li class="navbar__item">

			<a href="{%url 'drivers' %}" class="navbar__links" id="application-page">Apply Here</a>
                    <a href="{%url 'drivers' %}" class="navbar__links" id="application-page">Apply Here</a>

                 </li>  
            </ul>
        </div>
    </nav>
    <!--section hero/Home-->
    <div class="hero" id="home">
        <div class="hero__container">
            <h1 class="hero__heading">Welcome!</h1>
            <p class="hero__description">DIP is an incentive program for drivers which allows drivers to redeem rewards for practicing good driving behaviors! <br>
                <img src="{%static 'SemiTruck.jpg' %}">
            </p>
        </div>
    </div>

    <!--section Applications-->
    <div class="apply" id="application">
        <div class="apply__container">
            <h1 class="apply__heading">Applications are Open!</h1>
            <h2 class="apply__subheading">
                <p class="card">
                    <a href="{%url 'sponsors' %}" class="navbar__links" >sponsor application</a>
                </p>
            </h2>
            <h3 class="apply__subheading">
                <p class="card">
                    <a href="{%url 'drivers' %}" class="navbar__links" >driver application</a>
                </p>
            </h3>
            </p>
        </div>
    </div>

</body>
</html>
