<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DriverIncentiveProgram</title>
        <link rel="stylesheet" href="templates/styles.css">
</head>
<body>
    <!--section Navbar-->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="#home" id="navbar__logo">D.I.P</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                   <a href="#home" class="navbar__links" id="home-page">Home</a>
                </li>
                <li class="navbar__item">
                    <a href="#about" class="navbar__links" id="about-page">About Page</a>
                 </li>
                 <li class="navbar__item">
                    <a href="#project" class="navbar__links" id="project-page">Wallet</a>
                 </li>
                 <li class="navbar__item">
                    <a href="https://dipteam5.auth.us-east-1.amazoncognito.com/login?client_id=24572ehjeno50ma5122ql3oumd&response_type=code&scope=aws.cognito.signin.user.admin&redirect_uri=http%3A%2F%2Flocalhost%3A63342%2FDIP-Website%2Ftemplates%2Fdashboard.html%3F_ijt%3D7m1752ghi1cn4598f9g58uunpj%26_ij_reload%3DRELOAD_ON_SAVE" class="navbar__links">Log In</a>
                 </li>
                 <li class="navbar__item">
                    <a href="#application" class="navbar__links" id="application-page">Apply Here</a>
                 </li>


            </ul>

        </div>
    </nav>

    <!--section hero/Home-->
    <div class="hero" id="home">
        <div class="hero__container">
            <h1 class="hero__heading">Welcome!</h1>
            <p class="hero__description">(Place holder text: The Driver Incentive Program by Team: J-Unit) <br>
                 <img src="SemiTruck.jpg">
            </p>
        </div>
    </div>

    <!-- section About Page-->
    <div class="aboutme" id = "about">
        <div class="aboutme__container">
            <h1 class="aboutme__heading">About</h1>
            <p class = "aboutme__description">PLACE HOLDING TXT <br>
                PLACE HOLDING TXT 2  <br>
            </p>
        </div>
    </div>

    <!--section Wallet-->
    <div class="work" id="project">
        <div class="work__container">
            <h1 class="work__heading">Wallet</h1>
            <h2 class="work__heading2">PLACE HOLDING TXT 3</h2>
            <p class = "work__description">(2023 - Present)<br>
                PLACE HOLDING TEXT 4 <br>
                <br>
            </p>
        </div>
    </div>

    <!--section Applications-->
    <div class="apply" id="application">
        <div class="apply__container">
            <h1 class="apply__heading">Applications are Open!</h1>
            <!--<button type="button">Click Me!</button-->
            <button class="button button1">Click Here</button>
            <p class="apply__description">PLACE HOLDING TEXT<br>
            </p>
        </div>
    </div>

</body>
</html>