{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DriverIncentiveProgram</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
    />

</head>

<body>
    <!--section Navbar-->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="#home" id="navbar__logo">D.I.P</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                   <a href="#home" class="navbar__links" id="home-page">Home</a> 
                </li>
                <li class="navbar__item">
                    <a href="{%url 'about' %}" class="navbar__links" id="about-page">About Page</a>
                 {% if user.is_authenticated %}
                    <li class="navbar__item">
                        <a href="{%url 'login_user' %}" class="navbar__links" id="sign-out-page">Log-out</a>
                     </li>
                {% else %}
                     <li class="navbar__item">
                        <a href="{%url 'login_user' %}" class="navbar__links" id="signin-page">Log-In</a>
                     </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!--section hero/Home-->
    <div class="hero" id="home">
        <div class="hero__container">
            <h1 class="hero__heading">Welcome!</h1>
            <p class="hero__description">DIP is an incentive program for drivers <br>
                which allows drivers to redeem rewards for practicing good driving behaviors! <br>
                <img src="{%static 'SemiTruck.jpg' %}">
            </p>
        </div>
    </div>

    <!--section Applications-->
    <div class="apply" id="application">
        <div class="apply__container">
            <h1 class="apply__heading">Join Today!!!</h1>
            <h2 class="apply__subheading">
                <p class="card">
                    <a href="{%url 'signup' %}" class="navbar__links" >Sign Up!</a>
                </p>
            </h2>
            <h3 class="apply__subheading">
                <p class="card">
                    <a href="{%url 'signin' %}" class="navbar__links" >Sign In!</a>
                </p>
            </h3>
            </p>
        </div>
    </div>

    <!-- section About Page-->
    <div class="aboutme" id = "about">
        <div class="aboutme__container">
            <h1 class="aboutme__heading">About</h1>
            <p class = "aboutme__description">PLACE HOLDING TXT <br>
                PLACE HOLDING TXT 2  <br>
            </p>
        </div>
    </div>

</body>
</html>
