<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
        <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <!--section Navbar-->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="#home" id="navbar__logo">D.I.P</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="{% url 'dashboard' %}" class="navbar__links" id="dashboard-page">Dashboard</a>
                </li>
                <li class="navbar__item">
                    <a href="{%url 'about' %}" class="navbar__links" id="about-page">About Page</a>
                 </li>
                 <li class="navbar__item">
                    <a href="{%url 'wallet' %}" class="navbar__links" id="project-page">Wallet</a>
                 </li>
                <li class="navbar__item">
                    <a href="{%url 'catalog' %}" class="navbar__links" id="catalog-page">Catalog</a>
                 </li>
                 {% if user.is_authenticated %}
                    <li class="navbar__item">
                        <a href="{%url 'logout_user' %}" class="navbar__links" id="sign-out-page">Log-out</a>
                     </li>
                {% endif %}

            </ul>
        </div>
    </nav>

    <div class="dashboard" id="dash">
        <div class="dashboard__container_left">
            <!--CHANGE REQUIRED: Display username of user that is signed in-->
            <h1 class="dashboard__heading">Username</h1>
            <!--CHANGE REQUIRED: Display username of user that is signed in-->
            <h2 class="dashboard__heading2">Role</h2>

            <!--SPONSOR VIEW ONLY-->
            <!--Driver Card list group-->
            <h3 class="dashboard__heading2">My Drivers</h3>
            <nav>
                <ul class="list-group">
                    <li class="card">
                        <div class="card__container"> 
                            <div class="card-body">
                            <h5 class="card-title">Alan Wake</h5>
                            <p class="card-text">Click here to view their information..</p>
                            </div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="card__container"> 
                            <div class="card-body">
                            <h5 class="card-title">Issac Clarke</h5>
                            <p class="card-text">Click here to view their information..</p>
                            </div>
                        </div>
                    </li>
                    <li class="card">
                        <div class="card__container"> 
                            <div class="card-body">
                            <h5 class="card-title">Lee Everett</h5>
                            <p class="card-text">Click here to view their information.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>
