<!DOCTYPE html>
<html lang="en">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DriverIncentiveProgram</title>
            <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>

    <!--section Navbar-->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="#home" id="navbar__logo">DIP</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="{% url 'dashboard' %}" class="navbar__links" id="dashboard-page">Dashboard</a>
                </li>
                <li class="navbar__item">
                    <a href="{% url 'about' %}" class="navbar__links" id="about-page">About Page</a>
                 </li>
                 <li class="navbar__item">
                    <a href="#wallet" class="navbar__links" id="wallet-page">My Wallet</a> 
                 </li>
                    <li class="navbar__item">
                        <a href="{%url 'logout_user' %}" class="navbar__links" id="sign-out-page">Log-out</a>
                     </li>
            </ul>

        </div>
    </nav>

    <!--section Wallet-->
    <div class="work" id="wallet">
        <div class="work__container">
            <h1 class="work__heading">Wallet</h1>
            <p class = "work__description"><br>
                You have: 0 points. <br>
                <br>
            </p>
            <h2 class="work__heading">Point History</h2>
            <canvas id="myChart" style="background-color:white; width:100%;max-width:800px">
            </canvas>"
            <script>
                xValues = ["January","February","March","April","May","June","July","August","September","October",
                "November","December"];
                yValues = [1,2,3,4,5,6,7,30,60,15,45];
                new Chart("myChart", {
                    type: "line",
                    data: {
                    labels: xValues,
                    datasets: [{
                        fill: false,
                        lineTension: 0,
                        backgroundColor: "black",
                        borderColor: "red",
                        data: yValues
                    }]
                },
            options: {
                legend: {display: false},
                scales: {
                    yAxes: [{ticks: {min: 0, max:100}}],
                    }
                }
            });
            </script>
        </div>
    </div>

    </body>
</html>