<!DOCTYPE html>
<html lang="en">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DriverIncentiveProgram</title>
            <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>

    <!--section Navbar-->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="#home" id="navbar__logo">DIP</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="{% url 'index' %}" class="navbar__links" id="home-page">Home</a>
                </li>
                <li class="navbar__item">
                    <a href="{% url 'about' %}" class="navbar__links" id="about-page">About Page</a>
                 </li>
                 <li class="navbar__item">
                    <a href="#wallet" class="navbar__links" id="wallet-page">My Wallet</a> 
                 </li>
                 
            </ul>

        </div>
    </nav>

    <!--section Wallet-->
    <div class="work" id="wallet">
        <div class="work__container">
            <h1 class="work__heading">Wallet</h1>
            <p class = "work__description"><br>
                You have: 0 points. <br>
                <br>
            </p>
            <canvas id="myChart" style="backgroundcolor:white;width:100%;max-width:700px">
            </canvas>"
            <script>
                const xValues = [50,60,70,80,90,100,110,120,130,140,150];
                const yValues = [7,8,8,9,9,9,10,11,14,14,15];
                new Chart("myChart", {
                    type: "line",
                    data: {
                    labels: xValues,
                    datasets: [{
                        fill: false,
                        lineTension: 1,
                        backgroundColor: "white",
                        borderColor: "red",
                        data: yValues
                    }]
                },
            options: {
                legend: {display: false},
                scales: {
                    yAxes: [{ticks: {min: 6, max:16}}],
                    }
                }
            });
            </script>
        </div>
    </div>

    </body>
</html>